.movie-list-wrapper {
    min-height: 100vh;
    background: #313131 center center no-repeat;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}