.info {
    overflow: hidden;
    position: relative;
}

.movie-info {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    filter: blur(10px) brightness(.3);
    transform: scale(1.1);
    z-index: -1;
}
.link-back {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 30px;
}

.arrow {
    transform: rotate(180deg);
    width: 100%;
    height: 100%;
}

.main-info {
    display: flex;
    margin: 0 100px;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.backdrop-wrap {
    width: 1000px;
}

.backdrop {
    width: 100%;
    height: 100%;
}

.languages {
    position: relative;
    height: 20px;
}

.language-en, .language-true {
    position: absolute;
    transition: .3s;
}

.languages:hover .language-en, .language-true {
    opacity: 0;
}
.languages:hover .language-true {
    opacity: 1;
}
