.movie-info {
    width: 100vw;
    height: 100vh;
}

.backdrop-wrap {
    width: 500px;
}

.backdrop {
    width: 100%;
    height: 100%;
}

.languages {
    position: relative;
    height: 20px;
}

.language-en, .language-true {
    position: absolute;
    transition: .3s;
}

.languages:hover .language-en, .language-true {
    opacity: 0;
}
.languages:hover .language-true {
    opacity: 1;
}
